!!!
%html
  %head
    %title Waveform.js

    %meta(content="Waveform.js" property="og:title")
    %meta(content="Waveform.js makes drawing SoundCloud waveforms simple and lets you style and color them the way you want." property="og:description")
    %meta(content="website" property="og:type")
    %meta(content="http://waveformjs.org/images/logo.png" property="og:image")
    %meta(content="Waveform.js" property="og:site_name")
    %meta(content="http://waveformjs.org" property="og:url")
    %meta(content="121401014666351" property="fb:app_id")
    
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(src="//platform.twitter.com/widgets.js")
    %script(src="//connect.soundcloud.com/sdk.js")
    :javascript
      SC.initialize({
        client_id: "YOUR_CLIENT_ID"
      });
    %script(src="/waveform.js")
    %script(src="/application.js")

    %link(href="http://cloud.webtype.com/css/c09e383b-9747-406d-8ff5-95ae1c9217e9.css" rel="stylesheet" type="text/css")
    %link(href="/application.css" rel="stylesheet" type="text/css")
  %body
    %nav
      %h4 <a href="#top">Waveform.js <em>(1.0.0)</em></a>
      %ul
        %li <a href="http://github.com/soundcloud/waveform.js" target="_blank">Github Repository</a>
      %h4 <a href="#top">Introduction</a>
      %h4 <a href="#usage">Usage</a>
      %h4 <a href="#examples">Examples</a>
      %ul
        %li <a href="#interpolation">Interpolation</a>
        %li Cropped
        %li Playback
        %li Innercolor

    %section
      %a(name="top")
        %h1 Waveform.js <div id="logo"></div>

      %p
        Waveform.js makes drawing <a href="http://soundcloud.com">SoundCloud</a> waveforms simple and lets you <strong>style</strong> and <strong>color</strong> them the way you want it.
        It comes as a small JavaScript <strong>library</strong> and is using a <em>lightweight service</em> hosted on <a href="http://waveformjs.org">waveformjs.org</a> that translates the waveform images provided by SoundCloud into <strong>floating points</strong>.

      %em "Damn Good Waveforms" (Eric Wahlforss, CTO of SoundCloud, 2nd of July 2013)

      %p The project is open source and <a href="http://github.com/soundcloud/waveformjs">hosted on Github</a>. This page provides all the documentation you'll need as well as a list of <a href="#examples">examples</a>. Waveform.js is available to use under the <a href="#">MIT software license</a>. It was written by <a href="https://twitter.com/intent/user?screen_name=johanneswagener">Johannes Wagener</a> and <a href="https://twitter.com/intent/user?screen_name=leemartin">Lee Martin</a>. You can report <strong>bugs</strong> and discuss <strong>features</strong> on the <a href="http://github.com/soundcloud/waveformjs/issues">Github issues page</a>.

      %a.button(href="/waveform.js") Download Latest Version (1.0.0)


      %a(name="examples")
        %h2 Examples

      %h3 Hooking up a waveform to a SoundCloud track
      #example2.example-waveform
      %p


        Using the <code>dataFromSoundCloudTrack</code> will call the endpoint on waveform.js.org to convert the waveform image into the floats to be displayed.

        Additionally <code>optionsForSyncedStream</code> will prepare options for SC.stream that will sync up the loading and playing progress of the stream with the waveform.

        %a{href: "javascript:window.exampleStream.togglePause(); false;"} Click here to test playback.

      :example
        // assumes that the SoundCloud JS SDK is loaded and initialized.

        SC.get("/tracks/293", function(track){
          var waveform = new Waveform({
            container: document.getElementById("example2"),
            innerColor: "#333"
          });

          waveform.dataFromSoundCloudTrack(track);
          var streamOptions = waveform.optionsForSyncedStream();
          SC.stream(track.uri, streamOptions, function(stream){
            window.exampleStream = stream;
          });
        });

      %h3 Drawing a waveform with a gradient on the fly
      #example4.example-waveform
      %p
        When the <code>interpolate</code> option is false, each data sample will be drawn on one pixel.
        Once the full width has been exceeded the older data will be cut off. This can be used to
        draw waveforms when sounds are recorded with the SoundCloud Javascript SDK.
        In addition this waveform is styled using a canvas gradient as <code>innerColor</code>.
      :example
        var data = [];

        var waveform = new Waveform({
          container: document.getElementById("example4"),
          interpolate: false
        });
        var ctx = waveform.context;

        var gradient = ctx.createLinearGradient(0, 0, 0, waveform.height);
        gradient.addColorStop(0.0, "#f60");
        gradient.addColorStop(1.0, "#333");
        waveform.innerColor = gradient;

        var i=0;
        setInterval(function(){
          data.push(Math.cos(i++/25) - 0.2 + Math.random()*0.3);
          waveform.update({
            data: data
          });
        }, 50);
      %h3 Weird customized waveform with random colors
      #example1.example-waveform
      %p
        In this example the data is set manually with just a few samples, which will be interpolated to the full width.
        The <code>innerColor</code> is a function that gets called for each vertical line and will return a random color.
      :example
        new Waveform({
          container: document.getElementById("example1"),
          innerColor: function(x, y){
            return '#'+Math.floor(Math.random()*16777215).toString(16);
          },
          data: [0, 0.3, 1, 0.5, 1, 0.3, 0],
        });

      %a(name="usage")
        %h2 Usage

      %p Start by adding the <code>waveform.js</code> script to your page or app:

      %pre
        <script src="/waveform.js" ></script>

      %p
        Once added you can create new waveforms using the
        <code>Waveform</code> prototype:

      :preserve
        var waveform = new Waveform({
          container: document.getElementById("test"),
          data: [1, 0.2, 0.5]
        });

      This constructor supports a variety of options:
