!!!
%html
  %head
    %title Waveform.js
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(src="/application.js")
    %script(src="/waveform.js")
    %link(rel="stylesheet" href="/application.css")
  %body
    %nav

    %section
      %h1 Waveform.js


