!!!
%html
  %head
    %title Waveform.js
    
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(src="/application.js")
    %script(src="/waveform.js")

    %link(href="http://cloud.webtype.com/css/c09e383b-9747-406d-8ff5-95ae1c9217e9.css" rel="stylesheet" type="text/css")
    %link(href="/application.css" rel="stylesheet" type="text/css")
  %body
    %nav
      %h4 <a href="#">Waveform.js <em>(1.0.0)</em></a>

      %ul
        %li Github Repository
        %li Annotated Source

      %h4 <a href="#">Introduction</a>

      %h4 <a href="#">Usage</a>

      %h4 <a href="#">Examples</a>

      %ul
        %li <a href="#">Interpolation</a>
        %li Cropped
        %li Playback
        %li Innercolor

    %section
      %h1 Waveform.js
      %p Bacon ipsum dolor sit amet drumstick <strong>bacon pork</strong> loin, leberkas pork hamburger shoulder. Ground round ham meatball, pork loin shank bresaola speck cow beef hamburger strip steak sausage. Pork chop spare ribs ham beef ribs pork belly fatback filet mignon, tri-tip prosciutto biltong chuck. Speck leberkas ham hock pancetta. Shoulder pork belly bresaola, rump andouille corned beef t-bone kielbasa short ribs pork ball tip ribeye sirloin speck.
      %p <em>Shankle flank pork salami ham hock.</em>

      %h2 Downloads <em>(Right-click, and use "Save As")</em>
      %p
        %a.button(href="#") Production Version (1.0.0)
      %p Bacon ipsum dolor sit amet <a href="#">drumstick</a> bacon pork loin, leberkas <code>pork hamburger</code> shoulder. Ground round ham meatball, pork loin shank bresaola speck cow beef hamburger strip steak sausage. Pork chop spare ribs ham beef ribs pork belly fatback filet mignon, tri-tip prosciutto biltong chuck. Speck leberkas ham hock pancetta. Shoulder pork belly bresaola, rump andouille corned beef t-bone kielbasa short ribs pork ball tip ribeye sirloin speck. Shankle flank pork salami ham hock.

      %h2 Usage
      %p Bacon ipsum dolor sit amet tri-tip jerky cow turducken chuck, pig short ribs short loin speck ground round beef ribs. Pork belly pork loin tongue ham hock pastrami. Ham hock speck chicken, jerky ribeye tongue filet mignon turducken pancetta. Flank ground round fatback salami. Cow andouille pork chop turducken. T-bone tail spare ribs filet mignon tongue.
      %pre
        var object = {};

      %h2 Examples
      %p Bacon ipsum dolor sit amet tri-tip jerky cow turducken chuck, pig short ribs short loin speck ground round beef ribs. Pork belly pork loin tongue ham hock pastrami. Ham hock speck chicken, jerky ribeye tongue filet mignon turducken pancetta. Flank ground round fatback salami. Cow andouille pork chop turducken. T-bone tail spare ribs filet mignon tongue.
