!!!
%html
  %head
    %title Waveform.js
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(src="/application.js")
    %script(src="/waveform.js")
    %link(href="http://cloud.webtype.com/css/c09e383b-9747-406d-8ff5-95ae1c9217e9.css" rel="stylesheet" type="text/css")
    %link(href="/application.css" rel="stylesheet" type="text/css")
  %body
    %nav

    %section
      %h1 Waveform.js
      %p Bacon ipsum dolor sit amet drumstick bacon pork loin, leberkas pork hamburger shoulder. Ground round ham meatball, pork loin shank bresaola speck cow beef hamburger strip steak sausage. Pork chop spare ribs ham beef ribs pork belly fatback filet mignon, tri-tip prosciutto biltong chuck. Speck leberkas ham hock pancetta. Shoulder pork belly bresaola, rump andouille corned beef t-bone kielbasa short ribs pork ball tip ribeye sirloin speck. Shankle flank pork salami ham hock.

      %h2 Installation & Usage
      %p Bacon ipsum dolor sit amet drumstick bacon pork loin, leberkas pork hamburger shoulder. Ground round ham meatball, pork loin shank bresaola speck cow beef hamburger strip steak sausage. Pork chop spare ribs ham beef ribs pork belly fatback filet mignon, tri-tip prosciutto biltong chuck. Speck leberkas ham hock pancetta. Shoulder pork belly bresaola, rump andouille corned beef t-bone kielbasa short ribs pork ball tip ribeye sirloin speck. Shankle flank pork salami ham hock.


