!!!
%html
  %head
    %title Waveform.JS
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(src="/js/application.js")
    %script(src="/waveform.js")
    %link(rel="stylesheet" href="/stylesheets/application.css")
  %body
    .waveform