!!!
%html
  %head
    %title Waveform.js

    %meta(content="Waveform.js" property="og:title")
    %meta(content="Waveform.js makes drawing SoundCloud waveforms simple and lets you style and color them the way you want." property="og:description")
    %meta(content="website" property="og:type")
    %meta(content="http://waveformjs.org/images/logo.png" property="og:image")
    %meta(content="Waveform.js" property="og:site_name")
    %meta(content="http://waveformjs.org" property="og:url")
    %meta(content="121401014666351" property="fb:app_id")
    
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(src="//platform.twitter.com/widgets.js")
    %script(src="/waveform.js")
    %script(src="/application.js")

    %link(href="http://cloud.webtype.com/css/c09e383b-9747-406d-8ff5-95ae1c9217e9.css" rel="stylesheet" type="text/css")
    %link(href="/application.css" rel="stylesheet" type="text/css")
  %body
    %nav
      %h4 <a href="#top">Waveform.js <em>(1.0.0)</em></a>

      %ul
        %li <a href="http://github.com/soundcloud/waveform.js" target="_blank">Github Repository</a>
        /%li Annotated Source

      %h4 <a href="#top">Introduction</a>

      %h4 <a href="#usage">Usage</a>

      %h4 <a href="#examples">Examples</a>

      %ul
        %li <a href="#interpolation">Interpolation</a>
        %li Cropped
        %li Playback
        %li Innercolor

    %section
      %a(name="top")
        %h1 Waveform.js <div id="logo"></div>

      %p Waveform.js makes drawing <a href="http://soundcloud.com">SoundCloud</a> waveforms simple and lets you <strong>style</strong> and <strong>color</strong> them the way you want them. It comes as a small JavaScript <strong>library</strong> and is using a <em>lightweight service</em> hosted on <a href="http://waveformjs.org">waveformjs.org</a> that translates the waveform images provided by SoundCloud into <strong>floating points</strong>.

      %pre
        <em>"Damn Good Waveforms"</em> (Eric Wahlforss, CTO of SoundCloud)

      %p The project is open source and <a href="http://github.com/soundcloud/waveform.js">hosted on Github</a>. This page provides all the documentation you'll need as well as a list of <a href="#examples">examples</a>. Waveform.js is available to use under the <a href="#">MIT software license</a>. It was written by <a href="https://twitter.com/intent/user?screen_name=johanneswagener">Johannes Wagener</a> and <a href="https://twitter.com/intent/user?screen_name=leemartin">Lee Martin</a>.

      %p You can report <strong>bugs</strong> and discuss <strong>features</strong> on the <a href="http://github.com/soundcloud/waveform.js/issues">Github issues page</a>.

      %p Follow <a href="https://twitter.com/intent/user?screen_name=waveformjs">@waveformjs</a> for the latest.


      %a(name="examples")
        %h2 Examples

      %p
        This demonstrates a,b,c
      #example1.example-waveform
      :example
        new Waveform({
          container: document.getElementById("example1"),
          outerColor: "transparent",
          innerColor: function(){
            return '#'+Math.floor(Math.random()*16777215).toString(16);
          },
          data: [1, 0.5, 1, 0],
        });
      %p
        This demonstrates a,b,c
      #example2.example-waveform
      :example
        new Waveform({
          container: document.getElementById("example2"),
          outerColor: "transparent",
          innerColor: function(){
            return '#'+Math.floor(Math.random()*16777215).toString(16);
          },
          data: [1, 0.5, 1, 0],
        });
      %p
        This demonstrates a,b,c
      #example3.example-waveform
      :example
        new Waveform({
          container: document.getElementById("example3"),
          outerColor: "transparent",
          innerColor: function(){
            return '#'+Math.floor(Math.random()*16777215).toString(16);
          },
          data: [1, 0.5, 1, 0],
        });
      %h2 Downloads <em>(Right-click, and use "Save As")</em>
      %p
        %a.button(href="/waveform.js") Latest Version (1.0.0)

      %a(name="usage")
        %h2 Usage
      %p Bacon ipsum dolor sit amet tri-tip jerky cow turducken chuck, pig short ribs short loin speck ground round beef ribs. Pork belly pork loin tongue ham hock pastrami. Ham hock speck chicken, jerky ribeye tongue filet mignon turducken pancetta. Flank ground round fatback salami. Cow andouille pork chop turducken. T-bone tail spare ribs filet mignon tongue.
      %pre
        var object = {};

      %a(name="interpolation")
        %h3 Interpolation
      %p Bacon ipsum dolor sit amet tri-tip jerky cow turducken chuck, pig short ribs short loin speck ground round beef ribs. Pork belly pork loin tongue ham hock pastrami. Ham hock speck chicken, jerky ribeye tongue filet mignon turducken pancetta. Flank ground round fatback salami. Cow andouille pork chop turducken. T-bone tail spare ribs filet mignon tongue.
